<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Document</title>
    <th:block th:include="fragments/template :: headerfiles"></th:block>
</head>
<body>
<header th:include="fragments/template :: header"></header>

<div class="container mt-5">
    <h5>Hello, <span class="navbar-text" sec:authentication="name">Guest</span>!</h5>
</div>

<div class="container mt-5">
    <tr th:each="someNews: ${news}">
        <td>
            <div >
                 <span class="caption" th:text="${someNews.title}">title</span>
            </div>
            <div>
                <a href="#" th:href="${someNews.url}" th:text="${someNews.description}">description</a>
            </div>

            <div>
                <img th:src="${someNews.urlToImage}" alt="Mountain View"  style="width:634px;height:428px">
            </div>

            <div>
                <span th:text="${someNews.source.name}">source</span>
            </div>
            <div class="write_block">
                <span th:text="${someNews.author}">author</span>
            </div>
            <br>
        </td>
    </tr>
</div>

<!--<div class="container mt-5">-->
<!--    <form method="get" th:action="@{/news}">-->
<!--    </form>-->
<!--    <h5 th:href="'/news}">-->
<!--        <span th:text="${description}">Новость</span>-->
<!--    </h5>-->
<!--</div>-->


<footer th:include="fragments/template :: footer"></footer>
<th:block th:include="fragments/template :: footerfiles"></th:block>
</body>
</html>
